[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ROI.plugin.clarabel"]
	path = ROI.plugin.clarabel
	url = https://github.com/cran/ROI.plugin.clarabel
[submodule "holiglm"]
	path = holiglm
	url = https://github.com/cran/holiglm
